.smurf {
    width: 200;
    height: 500;
    margin-top: 2%;
}
a {
    border-radius: 4px;
    background-color: green;
    text-decoration:overline;
    font-size: 20px;
    color:white;
    padding: 10px;
}

a:hover {
    text-decoration:none;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.gugle {
    margin-left: 100px;
    margin-right: 100px;
    background-color: green;
    padding: 40px;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}
footer {
    padding: 30px;
    text-align: center;
    background-color: grey;
    bottom: 0;
}