.smurf {
    width: 200;
    height: 500;
    margin-left: 12%;
    margin-top: 30%;
}
a {
    font-size: 20px;
    padding: 10px;
}

nav {
    text-align: center;
}
.gugle {
    text-align: center;
    font-size: 60px;
}
footer {
    position: absolute;
    bottom: 0;
}