.smurf {
    width: 200;
    height: 500;
}
a {
    font-size: 20px;
    padding: 10px;
}

nav {
    text-align: center;
}
.gugle {
    text-align: center;
    font-size: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}